.game-container {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: #212121;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  height: 465px;
  left: 50%;
  padding: 50px 35px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

.header {
  display: flex;
}

.timer h1 {
  color: white;
}

.qa-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  max-width: fit-content;
}

.game-category, .game-question {
  margin-bottom: 10px;
  text-align: center;
}

.answers-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 300px;
}

button {
  appearance: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.8) 0 2px 4px , rgba(45, 35, 66, 0.6) 0 7px 13px -3px
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #1f2133;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
  font-weight: 600;
  height: 48px;
  line-height: 1;
  list-style: none;
  margin-top: 13px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: box-shadow 0.15s , transform 0.15s;
  user-select: none;
  white-space: normal;
  will-change: box-shadow , transform;
}

.answers-container > button {
  max-height: 60px;
  min-width: 200px;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px , rgba(45, 35, 66, 0.3) 0 7px 13px -3px
    #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: rgba(255, 255, 255, 0.6) 0 3px 7px inset;
  transform: translateY(2px);
}

.answers-container > button:focus {
  box-shadow: 0 0 35px 8px white;
}

.next {
  background-color: rgb(105, 36, 170);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.8) 0 2px 4px , rgba(45, 35, 66, 0.6) 0 7px 13px -3px
    #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-weight: 600;
  height: 45px;
  margin-top: 20px;
  width: 100px;
}
